/* .DisplayBox {
  background-color: transparent;
  width: 300px;
  height: 604px;
  background-image: url("./cellphone.png");
  background-size: contain; 
  border-radius: 44px;
} */
.DisplayBox {
  background-color: white;
  width: 200px;
  height: 400px;
  padding: 30px 20px 25px 15px;
  background-image: url("./cellphone.png");
  background-size: contain;
  border-radius: 34px;
  display: grid;
  grid-template-rows: 15px auto 25px;
  justify-self: center;
}
