.container {
  padding: 0 50px;
  display: flex;
  justify-content: space-around;
}

.listIndex {
  font-weight: 300;
  letter-spacing: 2rem;
  padding: 0 0 10px 0;
  min-width: max-content;
  transition: 0.1s;
  color: black;
}
