.listWrap {
  margin-bottom: 2.5rem;
  word-break: keep-all;
}

.list {
  margin-left: 1rem;
  margin-bottom: 0.6rem;
}
.list:hover {
  color: var(--grey-800);
}

.list_active {
  margin-left: 1rem;
  margin-bottom: 0.6rem;
  color: var(--grey-800);
  font-weight: bold;
}
.list_active:hover {
  color: var(--grey-800);
}
