.layout {
  display: grid;
  grid-template-rows: repeat(9, 33px);
  width: 170px;
}

.appHeader {
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 24px auto 16px;
  align-items: center;
}

.appHeader_firstName {
  background-color: bisque;
  border-radius: 100%;
  text-align: center;
}
.appHeader_name {
  margin-left: 10px;
}
/*  */
.appMain {
  grid-row: 2/7;
}
/*  -----------------  DEFAULT MESSAGES  -----------------------*/
.appMain_sendMessageWrap,
.appMain_getMessageWrap,
.appMain_sendMessageWrap--res {
  display: flex;
  align-items: end;
}

.appMain_sendMessageWrap,
.appMain_sendMessageWrap--res {
  justify-content: end;
}
.appMain_sendMessage,
.appMain_getMessage,
.appMain_sendMessage--res {
  max-width: 70%;
  padding: 6px;
  border-radius: 18px;
  margin-bottom: 4px;
  font-size: 0.8rem;
}

.appMain_sendMessageTime,
.appMain_getMessageTime {
  font-size: 0.5rem;
}
.appMain_sendMessage {
  background-color: rgb(171, 214, 242);
}

.appMain_getMessage {
  background-color: rgb(226, 226, 226);
}

/*  -----------------  OPTION MESSAGES  -----------------------*/
.appMain_sendMessage--res {
  background-color: rgb(237, 226, 226);
}
.appMain_sendMessageImg {
  margin-left: 130px;
  border: 1px solid rgb(224, 224, 224);
  background-color: antiquewhite;
  width: 33px;
  height: 33px;
}

.appMain_sendMessageOptionWrap--flex {
  display: block;
  width: max-content;
  padding: 4px;
  display: flex;
  margin-right: 0%;
  font-size: 0.7rem;
  background-color: rgb(171, 214, 242);
  border-radius: 8px;
}
/*  -----------------  OPTIONS  -----------------------*/
.appMain_messageOptionDeleteBtn {
  grid-column: 3/4;
  grid-row: 1/3;
  align-self: self-start;
  justify-self: end;
}
.appMain_messageOptionDeleteBtn i {
  font-size: 1rem;
  color: rgba(253, 40, 40, 0.746);
  cursor: pointer;
}
.appMain_messageOptionLayout {
  grid-row: 7/9;
  font-size: 0.8rem;
  padding: 5px 0;
  border-top: 1px solid rgb(224, 224, 224);
  display: grid;
  grid-template-columns: 80% 10%;
}

.appMain_messageOptionWrap--grid {
  margin: 0 auto;
  width: fit-content;
  background-color: rgb(224, 224, 224);
  border: 1px solid rgb(224, 224, 224);
  border-radius: 12px;
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  padding: 2px 10px;
}

.appMain_messageOptionWrap--flex {
  margin: 0 auto;
  width: fit-content;
  background-color: rgb(224, 224, 224);
  border: 1px solid rgb(224, 224, 224);
  border-radius: 8px;
  align-items: center;
  padding: 2px 10px;
  display: flex;
}
.appMain_messageOptionIcon--phoneNum {
  grid-row: 1/3;
}
.appMain_messageOptionIcon--phoneNum i {
  font-size: 16px;
}

.appMain_messageOptionContent--phoneNumName {
  grid-row: 1/2;
  grid-column: 2/3;
  font-size: 0.7rem;
}
.appMain_messageOptionContent--phoneNum {
  grid-row: 2/3;
  grid-column: 2/3;
  font-size: 0.4rem;
  color: var(--grey-600);
}

.appMain_messageOptionContent--img {
  background-color: antiquewhite;
  align-self: center;
  justify-self: center;
  width: 36px;
  height: 36px;
  margin-left: 20px;
}

/*  -----------------  NAVIGATION  -----------------------*/
.appNav {
  padding: 0 3px;
  grid-row: 9/10;
  display: grid;
  grid-template-columns: auto auto 15%;
  align-items: center;
  background-color: white;
}
.navOptions {
  display: flex;
  justify-content: space-around;
}

.navOptions div {
  margin-right: 5px;
}

.inputBox {
  display: grid;
  grid-template-columns: auto 16px;
  background-color: rgba(227, 227, 227, 0.803);
  border-radius: 18px;
  align-items: center;
}

.inputBox input {
  width: 90%;
  background-color: transparent;
  border-color: transparent;
}

.sendIcon,
.soundIcon {
  border-radius: 18px;
  margin: 0 0 0 3px;
  height: fit-content;
  text-align: center;
}
.soundIcon {
  background-color: rgba(227, 227, 227, 0.803);
}
.sendIcon {
  background-color: rgba(184, 184, 184, 0.803);
  cursor: pointer;
}

/*  -----------------  NAV PLUS OPTIONS  -----------------------*/
.options {
  background-color: white;
  box-shadow: 0 8px 8px rgba(184, 184, 184, 0.473);
  border-radius: 12px;
  font-size: 0.8rem;
  max-width: max-content;
  padding: 5px 10px;
  position: relative;
  top: -80px;
  left: 60px;
  z-index: 500;
}

.options div {
  margin-bottom: 10px;
}

/*  -----------------  RESERVE MESSAGE MODAL  -----------------------*/

.resSet {
  background-color: white;
  z-index: 200;
  border-radius: 12px;
  width: 90%;
  position: relative;
  top: -70px;
  padding: 10px;
  font-size: 0.8rem;
}
.resSet > div:first-child {
  font-size: 0.7rem;
  margin-bottom: 10px;
}
.resSetNav {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.resSetNav div {
  padding: 0 3px;
  font-weight: 800;
}

/*  -----------------  ETC  -----------------------*/
.backdrop {
  background-color: rgba(23, 23, 23, 0.4);
  position: relative;
  z-index: 100;
  top: -335px;
  left: -10px;
  width: 185px;
  height: 385px;
  border-radius: 12px;
}
.imgClicked {
  position: relative;
  z-index: 200;
  top: -230px;
  left: 20px;
  width: 120px;
  height: 120px;
  background-color: antiquewhite;
}
