.appMain {
  display: grid;
  grid-template-rows: repeat(9, 33px);
  width: 170px;
}
.appMain i {
  font-size: 12px;
}

/*  */
.appHeader {
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 24px auto 16px;
  align-items: center;
}

.firstNameBox {
  background-color: bisque;
  border-radius: 100%;
  text-align: center;
}
.nameBox {
  margin-left: 10px;
}
/*  */
.messages {
  grid-row: 2/7;
}
.sendMessage,
.getMessage,
.resMessage {
  display: flex;
  align-items: end;
}

.sendMessage,
.resMessage {
  justify-content: end;
}
.sendMessage > div:nth-child(2),
.getMessage > div:nth-child(1),
.resMessage > div:nth-child(2) {
  max-width: 70%;
  padding: 6px;
  border-radius: 18px;
  margin-bottom: 4px;
  font-size: 0.8rem;
}

.sendMessage > div:nth-child(1),
.getMessage > div:nth-child(2) {
  font-size: 0.5rem;
}
.sendMessage > div:nth-child(2) {
  background-color: rgb(171, 214, 242);
}

.getMessage > div:nth-child(1) {
  background-color: rgb(226, 226, 226);
}

.resMessage > div:nth-child(2) {
  background-color: gainsboro;
}

/*  */
.resInfo {
  grid-row: 7/9;
  font-size: 0.8rem;
  border-top: 1px solid rgb(144, 144, 144);
  border-bottom: 1px solid rgb(144, 144, 144);
  align-self: center;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}
.resInfo div:last-child {
  align-self: end;
}
.resInfo div:last-child i,
.imgFileInfo div:last-child i {
  font-size: 1rem;
  color: rgba(253, 40, 40, 0.746);
  cursor: pointer;
}

/*  */
.imgMessage > div:first-child {
  margin-left: 130px;
  border: 1px solid gray;
}

.imgFileInfo {
  grid-row: 7/9;
  font-size: 0.8rem;
  border-top: 1px solid rgb(144, 144, 144);
  border-bottom: 1px solid rgb(144, 144, 144);
  align-self: center;
  display: flex;
  justify-content: center;
  padding: 5px 0;
}

.img {
  background-color: antiquewhite;
  align-items: center;
  width: 36px;
  height: 36px;
  margin-left: 10px;
}
.imgClicked {
  position: relative;
  z-index: 200;
  top: -230px;
  left: 20px;
  width: 120px;
  height: 120px;
  background-color: antiquewhite;
}
.imgFileInfo div:last-child {
  position: relative;
  z-index: 100;
  left: -10px;
  top: 15px;
}
/*  */
.appNav {
  padding: 0 3px;
  grid-row: 9/10;
  display: grid;
  grid-template-columns: auto auto 15%;
  align-items: center;
  background-color: white;
}
.navOptions {
  display: flex;
  justify-content: space-around;
}

.navOptions div {
  margin-right: 5px;
}

.inputBox {
  display: grid;
  grid-template-columns: auto 16px;
  background-color: rgba(227, 227, 227, 0.803);
  border-radius: 18px;
  align-items: center;
}

.inputBox input {
  width: 90%;
  background-color: transparent;
  border-color: transparent;
}

.sendIcon,
.soundIcon {
  border-radius: 18px;
  margin: 0 0 0 3px;
  height: fit-content;
  text-align: center;
}
.soundIcon {
  background-color: rgba(227, 227, 227, 0.803);
}
.sendIcon {
  background-color: rgba(184, 184, 184, 0.803);
  cursor: pointer;
}

/* SeeMessage */
/* SelectResend */
.options {
  background-color: white;
  box-shadow: 0 8px 8px rgba(184, 184, 184, 0.473);
  border-radius: 12px;
  font-size: 0.8rem;
  max-width: max-content;
  padding: 5px 10px;
  position: relative;
  top: -80px;
  left: 60px;
  z-index: 500;
}

.options div {
  margin-bottom: 10px;
}

/*  */

.backdrop {
  background-color: rgba(23, 23, 23, 0.4);
  position: relative;
  z-index: 100;
  top: -335px;
  left: -10px;
  width: 185px;
  height: 385px;
  border-radius: 12px;
}

.resSet {
  background-color: white;
  z-index: 200;
  border-radius: 12px;
  width: 90%;
  position: relative;
  top: -70px;
  padding: 10px;
  font-size: 0.8rem;
}
.resSet > div:first-child {
  font-size: 0.7rem;
  margin-bottom: 10px;
}
.resSetNav {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.resSetNav div {
  padding: 0 3px;
  font-weight: 800;
}
