.layout {
  overflow: hidden;
  height: 305px;
}

.layout i {
  border-radius: 18px;
  padding: 2px 4px;
  cursor: pointer;
  height: fit-content;
  font-size: 0.8rem;
}

/* ---------------------HEADER---------------------------- */
.main_header {
  background-color: rgb(178, 198, 218);
  padding-top: 10px;
  height: 35px;
}

/* ---------------------MESSAGE---------------------------- */
.messages {
  background-color: rgb(178, 198, 217);
  padding: 4px;
  height: 240px;
}

.messagesSmall {
  height: 140px;
}
.getMessageWrap,
.sendMessageWrap {
  max-width: 95%;
  font-size: 0.8rem;
  height: max-content;
  margin-bottom: 10px;
}

.sendMessageWrap {
  justify-content: flex-end;
  display: flex;
  align-items: flex-end;
  margin-left: auto;
}

.sendMessage {
  background-color: rgb(255, 235, 50);
  border-radius: 8px;
  padding: 4px 6px;
}
.timeStamp {
  font-size: 0.6rem;
  margin-right: 6px;
}

/* ---------------------OPTION INFO---------------------------- */
.optionInfoWrap {
  border-top: 1px solid rgb(226, 226, 226);
  width: 160px;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.optionInfoWrap::-webkit-scrollbar {
  display: none;
}
.optionImgWrap {
  display: flex;
}

.imgBox {
  background-color: antiquewhite;
  width: 38px;
  height: 38px;
  position: relative;
  text-align: center;
  border-radius: 6px;
}

.deleteBtn {
  position: relative;
  top: 0px;
  right: 10px;
  align-self: normal;
  z-index: 100;
  cursor: pointer;
}
.deleteBtn i {
  color: red;
  background-color: white;
  border-radius: 100%;
}
/* --------------------- NAV---------------------------- */
.appNav {
  padding: 0 3px;
  height: 30px;
  display: grid;
  grid-template-columns: auto auto 15%;
  align-items: center;
  background-color: white;
}
.appNavSmall {
  animation: fadeInUp 0.2s;
}

.inputBox {
  display: grid;
  grid-template-columns: auto 16px;
  background-color: white;
  border-radius: 18px;
  align-items: center;
}

.inputBox input {
  width: 90%;
  background-color: transparent;
  border-color: transparent;
}

.sendIcon {
  height: fit-content;
  text-align: center;
  cursor: pointer;
  background-color: rgb(247, 229, 64);
  margin-left: 4px;
}
.subTitle {
  font-size: 0.5rem;
  padding: 5px 0;
  margin-left: 5px;
  text-align: start;
  color: var(--grey-400);
  line-height: 140%;
}

/* --------------------- OPTIONS ---------------------------- */
.options {
  background-color: white;
  box-shadow: 0 8px 8px rgba(184, 184, 184, 0.473);
  border-radius: 12px;
  font-size: 0.8rem;
  max-width: max-content;
  padding: 5px 10px;
  position: relative;
  top: -80px;
  left: 60px;
  z-index: 500;
}

.options div {
  margin-bottom: 10px;
}

/* --------------------- OPTION BOX ---------------------------- */
.optionBox {
  padding: 10px;
  height: 100px;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  animation: fadeInUp 0.2s;
  background-color: rgba(239, 239, 239, 0.247);
}

.optionBox::-webkit-scrollbar,
.optionBox_background--grey::-webkit-scrollbar {
  display: none;
}

.optionRow {
  display: grid;
  grid-template-columns: repeat(4, 38px);
  text-align: center;
  margin-bottom: 10px;
}

.optionRow div {
  font-size: 0.6rem;
  margin: 0 auto;
}

.iconWrap {
  border-radius: 100%;
  max-width: fit-content;
  max-height: fit-content;
  padding: 4px 4px;
}
.iconWrap > i {
  color: white;
  font-size: 0.7rem;
}

/* ------------------SIDE MENU-------------------- */
.sideMenuWrap {
  position: relative;
  z-index: 100;
  top: -305px;
  height: 305px;
  display: flex;
}
.backdrop {
  background-color: rgba(6, 6, 6, 0.235);
  width: 50px;
  height: 305px;
  animation: opacity0to100 0.5s;
}
.sideMenuBox {
  background-color: white;
  height: 305px;
  width: 130px;
  animation: rightLeft 0.5s;
}
.sideTitle {
  font-size: 0.7rem;
  font-weight: bold;
}
.sideMenuContentWrap {
  padding: 6px;
  border-bottom: 1px solid rgb(245, 245, 245);
}
.sideMenuNavWrap {
  padding: 3px;
  background-color: rgb(239, 239, 239);
  position: relative;
  bottom: -15px;
}

/* ---------------------MODAL---------------------------- */
.modalWrap {
  position: relative;
  top: -610px;
  animation: opacity0to100Pure 0.5s;
  z-index: 200;
  height: 305px;
}
.backdrop_modal {
  background-color: #2a2a2a6a;
  width: 174px;
  height: 305px;
  z-index: 200;
}
.modal {
  position: absolute;
  background-color: white;
  width: 150px;
  height: max-content;
  padding: 10px;
  z-index: 300;
  border-radius: 4px;
  top: 80px;
  left: 10px;
}
.modalNavWrap {
  display: flex;
  justify-content: flex-end;
}
.modalRadioWrap {
  display: flex;
  cursor: pointer;
  width: 100px;
}

/* ------------------COMMON-------------------- */
.color_grey {
  color: var(--grey-400);
  font-size: 0.8rem;
  margin-left: 5px;
}
.color_grey--bold {
  color: var(--grey-400);
  font-size: 0.8rem;
  margin-left: 5px;
  font-weight: bold;
  cursor: pointer;
}
.color_blue--bold {
  color: rgb(0, 119, 246);
  font-weight: bold;
  font-size: 0.8rem;
  margin-left: 5px;
  cursor: pointer;
}
.title {
  font-size: 0.9rem;
  color: var(--grey-900);
  text-align: start;
  margin-left: 5px;
}
.subTitle {
  font-size: 0.5rem;
  padding: 5px 0;
  margin-left: 5px;
  text-align: start;
  color: var(--grey-400);
  line-height: 140%;
}

/* ------------------ANIMAITION-------------------- */
@keyframes fadeInUp {
  0% {
    opacity: 0.7;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes rightLeft {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translateZ(0);
  }
}
@keyframes opacity0to100 {
  0% {
    opacity: 0;
    transform: scaleX(7);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}
@keyframes opacity0to100Pure {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
