.font_color--light {
  color: var(--grey-400);
}
.marginTop {
  margin-top: 40px;
}
.layout {
  text-align: center;
  width: 170px;
}

.profileBox {
  background-color: rgb(141, 200, 253);
  width: 40px;
  height: 40px;
  border-radius: 16px;
  margin: 50px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: end;
  overflow: hidden;
}

.profileBox i {
  color: rgb(214, 240, 255);
  font-size: 36px;
}
.profileBox i::before {
  vertical-align: text-bottom;
}

.content_title {
}

.content_sub {
  font-size: 0.7rem;
}

.btns {
  margin-top: 80px;
  font-size: 24px;
  grid-row: 6 / 7;
  display: flex;
  justify-content: space-around;
}

.btns div {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  box-shadow: 2px 4px 8px rgba(80, 80, 80, 0.2);
}

.message {
  margin-top: 20px;
  grid-row: 7 / 8;
}
