.header {
  background-color: #f3f3f384;
  border-radius: 12px;
  padding: 5px 0;
  box-shadow: 0px 0px 18px rgba(30, 30, 30, 0.116);
  margin-top: 10px;
}
.header:hover {
  box-shadow: 0px 0px 6px rgba(41, 41, 41, 0.247);
}

.nav1 {
  margin-top: 10px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav1 a {
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
}

.nav1 img {
  width: 6rem;
  height: fit-content;
}

.nav1 ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav1 li {
  margin-left: 20px;
}

.nav1 li a {
  color: var(--grey-400);
  text-decoration: none;
  font-weight: 400;
}

.nav1 li a:hover {
  color: var(--grey-800);
}

/* nav2 */
.nav2 {
  padding: 10px 30px;
}
.nav2 > ul {
  display: flex;
}
.nav2 ul {
  padding: 10px 20px;
  overflow-x: scroll;
  white-space: nowrap;
}
.nav2 ul::-webkit-scrollbar {
  display: none;
}
.nav2 > ul > li {
  padding: 4px 10px;
  border-radius: 16px;
}
.nav2 ul > li p:hover {
  cursor: pointer;
  transform: scale(1.1);
}
@media (max-width: 800px) {
  .header nav img {
    width: 5.5rem;
  }
}
@media (max-width: 500px) {
  .header {
    margin-bottom: 40px;
  }
  .header nav a {
    font-size: 1rem;
  }
  .header nav img {
    width: 5rem;
  }
}
