.listWrap {
  margin-bottom: 2.5rem;
}

.listWrap li {
  margin-left: 1rem;
  margin-bottom: 0.6rem;
}
.listWrap li:hover,
a:hover {
  color: var(--grey-800);
}

.listWrap a.active {
  color: var(--grey-800);
}
.listWrap a.active:hover {
  color: var(--grey-800);
}
