.methodDescriptionList {
  margin-bottom: 2.5rem;
}

.methodDescriptionList li {
  margin-left: 1rem;
  margin-bottom: 0.6rem;
}
.methodDescriptionList li:hover,
a:hover {
  color: var(--grey-800);
}

.methodDescriptionList a.active {
  color: var(--grey-800);
}
.methodDescriptionList a.active:hover {
  color: var(--grey-800);
}
