* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --dark-grey: #242424;
  --mid-grey: #555;
  --light-grey: #999;
  text-align: center;
  font-family: 'IBM Plex Sans KR', sans-serif;  
  color: var(--dark-grey);
}

