/* ------------------LAYOUT------------------- */
.layout {
  text-align: center;
  padding: 3rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 30px auto;
}

/* ------------------NOTE------------------- */
.noteContent {
  margin: 0 0 0 30px;
}
.note {
  background-color: #dadada08;
  box-shadow: 0 0px 18px rgba(23, 23, 23, 0.18);
  transition: 0.1s;
  background-color: rgba(242, 242, 242, 0.38);
  min-height: 800px;
  max-width: 800px;
  transition: 0.3s;
}
.noteHoles {
  width: 30px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.noteHoles > div {
  display: block;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  box-shadow:
    inset 2px 4px 3px rgba(166, 166, 166, 0.187),
    0 0px 3px rgba(0, 0, 0, 0.333);
}
.note:hover {
  box-shadow: 0 0px 3px rgba(23, 23, 23, 0.187);
  transform: translateY(10px);
}
.note:hover .noteHoles > div {
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.333);
}

@media (max-width: 600px) {
  .layout {
    padding: 4rem 2rem 2rem 2rem;
  }
  .noteContent {
    margin: 0 0 0 10px;
  }

  .noteHoles {
    width: 25px;
  }
}
@media (max-width: 350px) {
  .layout {
    padding: 0;
    display: block;
  }

  .note {
    background-color: none;
    box-shadow: none;
    transition: none;
    min-height: 800px;
    max-width: 800px;
  }
  .note:hover {
    box-shadow: none;
    transform: none;
  }

  .noteContent {
    margin: 0 0 0 0px;
  }

  .noteHoles {
    display: none;
  }
}
