@font-face {
  font-family: "Cafe24Shiningstar";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Shiningstar.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.layout {
  width: 90%;
  margin: 80px auto 0 auto;
}

.layout > li {
  padding: 0 0 10px 0;
  display: inline-block;
  margin-left: 0.5rem;
  min-width: max-content;
  transition: 0.1s;
}

.layout h3 a {
  /* font-size: 0.9rem; */
  padding: 0px 8px;
  max-height: 40px;
  font-family: "Cafe24Shiningstar";
  font-size: 1.5rem;
  font-weight: normal;
}
.layout a:hover {
  font-weight: 900;
}

.clicked {
  font-weight: 900;
  position: relative;
}

.clicked::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 4px;
  background-color: red;
  transform: skewX(-30deg);
  animation: border_lr_anim 0.5s linear forwards;
}

@keyframes border_lr_anim {
  0% {
    width: 0%;
  }
  100% {
    width: 105%;
  }
}

@media (max-width: 800px) {
  .layout {
    width: 90%;
  }
}
