@tailwind base;
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
  }
  summary,
  p {
    color: inherit;
  }
  details summary,
  a {
    cursor: pointer;
  }
}
@tailwind components;
@layer components {
  .title {
    @apply text-2xl font-bold text-neutral-800 sm:text-3xl;
  }
  .subTitle {
    @apply text-sm text-gray-400 my-2;
  }
  .h2 {
    @apply text-xl font-bold text-neutral-800 sm:text-2xl;
  }
}
@tailwind utilities;
