.MakeList {
  margin: 1rem auto 1rem auto;
  padding: 2rem 0;
  width: 60%;
  /* display: flex; */
  /* justify-content: center;
  flex-wrap: wrap; */
  position: relative;
  overflow-x: scroll;
  white-space: nowrap;
  z-index: 1;
}

.MakeList::-webkit-scrollbar {
  display: none;
}

.MakeList > li {
  margin-top: 35px;
  display: inline-block;
  margin-left: 0.5rem;
  min-width: max-content;
  transition: 0.1s;
}

.MakeList button {
  padding: 0.5rem;
  border-radius: 12px;
  background-color: white;
  border-color: transparent;
  box-shadow: 0 4px 4px rgba(23, 23, 23, 0.077);
}

.MakeList .active {
  background-color: rgb(248, 30, 30);
  color: red;
}

.MakeList summary {
  font-size: 1.2rem;
}
.MakeList details[open] summary {
  color: var(--main-color);
}

.MakeList > li:hover {
  box-shadow: 0 8px 8px rgba(23, 23, 23, 0.077);
  background-color: rgb(244, 244, 244);
  transform: translateY(-3px);
}

/* button.clicked {
  background-color: rgb(244, 244, 244) ;

} */

@media (max-width: 800px) {
  .MakeList {
    padding: 0;
  }
}
@media (max-width: 483px) {
  .MakeList {
    width: 80%;
  }
}
