.MakeListInCategory {
  margin: 0 auto;
  padding: 20px 96px 64px 96px;
}

.MakeListInCategory li {
  display: flex;
  text-align: left;
  justify-content: space-between;
  padding-top: 15px;
  border-bottom: 1px solid #b9b9b986;
}

.MakeListInCategory li:hover,
.MakeListInCategory p:hover {
  color: var(--grey-400);
}

@media (max-width: 600px) {
  .MakeListInCategory {
    padding: 20px 20px 64px 20px;
  }
}
