.MakeListInCategory {
  margin: 0 auto;
  width: 80%;
  background-color: rgb(244, 244, 244);
  border-radius: 12px;
  padding: 6rem 6rem 4rem 6rem; 
  position: relative;
  top: -100px;
  /* z-index: -1; */
}

.MakeListInCategory li {
  /* display: grid;
  grid-template-columns: repeat(2, auto); */
  display: flex;
  text-align: left;
  /* z-index: 1; */
}

.MakeListInCategory li:hover {
  color: white;
}

.MakeListInCategory ul {
  display: flex;
}
.MakeListInCategory ul li {
  margin: 0 1rem;
}

@media (max-width: 800px) {
  .MakeListInCategory {
    width: 80%;
    padding: 6rem 6rem 4rem 6rem; 
    top: -70px;
  }
}
@media (max-width: 482px) {
  .MakeListInCategory {
    width: 100%;
    padding: 6rem 6rem 4rem 6rem; 
    top: -110px;
  }
}