.MakeListInCategory {
  margin: 0 auto;
  width: 80%;
  border-radius: 12px;
  padding: 6rem 6rem 4rem 6rem;
  position: relative;
  top: -100px;
  background-color: #ffffff4d;
  border: 0.1px solid rgba(255, 255, 255, 0.387);
}

.MakeListInCategory li {
  display: flex;
  text-align: left;
  justify-content: space-between;
}

.MakeListInCategory li:hover,
.MakeListInCategory p:hover {
  color: var(--grey-400);
}

.MakeListInCategory ul {
  display: flex;
}
.MakeListInCategory ul li {
  margin: 0 1rem;
}

@media (max-width: 800px) {
  .MakeListInCategory {
    width: 80%;
    padding: 6rem 4rem 4rem 4rem;
    top: -80px;
  }
}
@media (max-width: 482px) {
  .MakeListInCategory {
    width: 100%;
    padding: 6rem 2rem 4rem 2rem;
    background-color: #e1e1e15f;
    box-shadow: 0 8px 8px rgba(23, 23, 23, 0.077);
  }
}
