.DisplayBox {
  background-color: white;
  width: 200px;
  height: 400px;
  padding: 30px 14px 25px 11px;
  background-image: url("./cellphone.png");
  background-size: contain;
  border-radius: 34px;
  display: grid;
  grid-template-rows: 20px auto auto auto 24px;
  justify-self: center;
  overflow: hidden;
}
