.Index section:nth-child(1) {
  max-width: 70%;
  margin: 0 auto 10rem auto;
  text-align: center;
  border-radius: 20px;
  padding: 8rem 3rem;
  min-width: 300px;
  transition: 0.1s;
}

.Index section:nth-child(1):hover {
  box-shadow: 0 8px 8px rgba(23, 23, 23, 0.077);
  transform: translateY(-15px);
}
.Index h1 {
  font-weight: 400;
}

.Index p {
  color: var(--grey-400);
}




