.layout {
  margin: 0rem auto 10rem auto;
  text-align: center;

  padding: 8rem 3rem;
}

.boxShadow {
  background-color: #dadada08;
  box-shadow: 0 0px 3px rgba(23, 23, 23, 0.187);
  border: 0.1px solid rgba(98, 98, 98, 0.387);
  transition: 0.1s;
  border-radius: 100%;
  background-color: rgba(242, 242, 242, 0.38);
  /* background-color: #e1e1e15f; */
}
.boxShadow:hover {
  transform: translateY(-10px);
  border: 0.1px solid rgba(255, 255, 255, 0.387);
  box-shadow: 0 0px 18px rgba(23, 23, 23, 0.187);
}

.title {
  color: var(--grey-900);
}

.subTitle {
  color: var(--grey-400);
  margin-bottom: 4rem;
}

.textWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 2rem;
}
.textWrap li {
  text-align: left;
  width: 300px;
  padding: 4rem;
  margin-right: 30px;
}
.textWrap li h3 {
  position: relative;
  top: -80px;
  text-align: center;
}
.textWrap li p {
  position: relative;
  top: -30px;
}

@media (max-width: 900px) {
  .textWrap {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 2rem 2rem;
  }
  .textWrap li {
    margin-bottom: 30px;
    margin-right: 0px;
  }
}
@media (max-width: 500px) {
  .layout {
    max-width: 90%;
    padding: 8rem 3rem;
    min-width: 300px;
  }
}
