main {
  min-height: calc(100vh - 180px);
  padding-top: 200px;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
}

/* animation */

.animate-scale-up:hover {
  animation-name: scale-up;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

@keyframes scale-up {
  from {
    font-size: 1rem;
  }
  to {
    font-size: 1.5rem;
  }
}

@media (max-width: 800px) {
  main {
    padding-top: 150px;
  }
}
