body {
  /* background-color: rgb(149, 216, 255); */
  /* background-color: #9ac5f4;
  background-image: linear-gradient(
    160deg,
    #9ac5f4 0%,
    #99dbf5 50%,
    #a7ecee 100%
  ); */
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

main {
  min-height: calc(100vh - 180px);
  padding-top: 100px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* animation */

.animate-scale-up:hover {
  animation-name: scale-up;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

@keyframes scale-up {
  from {
    font-size: 1rem;
  }
  to {
    font-size: 1.5rem;
  }
}

/* @media (max-width: 800px) {
  
} */

@media (max-width: 500px) {
  main {
    padding-top: 50px;
  }
  body {
    background-color: #f4f4f4;
    background-image: none;
  }
}
