/* --------------- LAYOUT ------------------ */
.layout_flex--spaceBetween {
  display: flex;
  justify-content: space-between;
}
.layout_flex--spaceAround {
  display: flex;
  justify-content: space-around;
}
.layout_grid {
  display: grid;
  grid-template-columns: repeat(6, 28px);
  align-items: center;
  height: 35px;
}
.background--grey {
  background-color: rgb(243, 243, 243);
  border-radius: 8px;
}
.border_bottom {
  border-bottom: 1px solid rgb(230, 230, 230);
}
/* --------------- GRID LAYOUT ------------------ */
.grid_firstCol--row1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.grid_firstCol--row2 {
  grid-column: 1/2;
  grid-row: 1/3;
}
.grid_firstCol--row12 {
  grid-column: 1/2;
  grid-row: 1/3;
}
.grid_secondCol--row1 {
  grid-column: 2/5;
  grid-row: 1/2;
}
.grid_secondToThirdCol--row1 {
  grid-column: 2/7;
  grid-row: 1/2;
}
.grid_secondCol--row2 {
  grid-column: 2/5;
  grid-row: 2/3;
}
.grid_thirdCol--row1 {
  grid-column: 5/7;
  grid-row: 1/2;
}
.grid_thirdCol--row2 {
  grid-column: 5/7;
  grid-row: 2/3;
}
/* --------------- FLEX LAYOUT ------------------ */
.flex_leftItems,
.flex_rightItems {
  display: flex;
}

/* --------------- ICON ------------------ */
.iconWrap_background--grey {
  text-align: center;
  font-size: 0.8rem;
  background-color: #cdcdcd8a;
  border-radius: 18px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconWrap_background--pink {
  text-align: center;
  font-size: 0.8rem;
  background-color: #ff855f8a;
  border-radius: 18px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconWrap_background--yellow {
  text-align: center;
  font-size: 0.8rem;
  background-color: #ffd0278a;
  border-radius: 18px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconWrap_background--orange {
  text-align: center;
  font-size: 0.8rem;
  background-color: #ffb8468a;
  border-radius: 18px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconWrap_background--skyBlue {
  text-align: center;
  font-size: 0.8rem;
  background-color: #92e7ff8a;
  border-radius: 18px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconWrap_background--purple {
  text-align: center;
  font-size: 0.8rem;
  background-color: #929dff8a;
  border-radius: 18px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconWrap_background--blue {
  text-align: center;
  font-size: 0.8rem;
  background-color: #92caff8a;
  border-radius: 18px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconWrap_background--orange i,
.iconWrap_background--yellow i,
.iconWrap_background--pink i,
.iconWrap_background--grey i {
  color: white;
}
.iconWrap_background--skyBlue i,
.iconWrap_background--blue i,
.iconWrap_background--purple i {
  color: #ededed;
}
.iconWrap_background--green i {
  text-align: center;
  font-size: 0.9rem;
  background-color: green;
  border-radius: 18px;
  color: var(--grey-700);
}
.iconWrapS_background--green i {
  color: white;
  background-color: rgb(41, 184, 64);
  padding: 3px;
  font-size: 0.6rem;
}
/*  */
.iconWrap_color--green i {
  color: green;
  font-size: 0.8rem;
}
/* --------------- TEXT ------------------ */
.title {
  font-size: 0.9rem;
  color: var(--grey-900);
  text-align: start;
  margin-left: 5px;
}
.title--bold {
  font-size: 0.9rem;
  color: var(--grey-900);
  text-align: start;
  margin-left: 5px;
  font-weight: 600;
}
.subTitle {
  font-size: 0.5rem;
  margin-left: 5px;
  text-align: start;
  color: var(--grey-400);
}
.subTitle_color--blackB {
  font-size: 0.5rem;
  margin-left: 10px;
  text-align: start;
  color: var(--grey-700);
  font-weight: 600;
}
.subTitle_color--black {
  font-size: 0.5rem;
  margin-left: 10px;
  text-align: start;
  color: var(--grey-700);
}
.info {
  font-size: 0.5rem;
  text-align: right;
  color: var(--grey-400);
}
.subInfo {
  font-size: 0.6rem;
  text-align: center;
  background-color: rgb(255, 118, 68);
  color: white;
  border-radius: 22px;
  width: 0.9rem;
}
.subInfo_border--grey {
  grid-column: 4/7;
  font-size: 0.6rem;
  text-align: center;
  border-radius: 22px;
  border: 1px solid rgb(206, 206, 206);
}
.title:hover,
.info:hover,
.subTitle:hover,
.subInfo:hover {
  cursor: pointer;
}

/* ------------------KAKAO--------------------- */
.profile_layout {
  display: grid;
  grid-template-columns: 30px 70px 70px;
  margin-bottom: 10px;
  align-items: center;
}
.profile_layout i {
  width: fit-content;
}
.profile_img {
  margin-right: 14px;
}
.profile_message {
  font-size: 0.6rem;
  color: var(--grey-400);
}

.profile_musicBox {
  grid-column: 4/7;

  font-size: 0.7rem;
  border: 1px solid greenyellow;
  border-radius: 12px;
  /* max-width: 70px; */
  height: 20px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  justify-self: end;
}
.profile_musicBox:hover {
  background-color: rgb(208, 208, 208);
}
.profile_musicBox i {
  color: greenyellow;
  box-shadow: none;
}
.profile_musicBox i:hover {
  box-shadow: none;
  background-color: transparent;
}
