/* --------------- LAYOUT ------------------ */
.layout_flex--spaceBetween {
  display: flex;
  justify-content: space-between;
}
.layout_flex--spaceAround {
  display: flex;
  justify-content: space-around;
}
.layout_grid {
  display: grid;
  grid-template-columns: repeat(6, 28px);
  align-items: center;
  height: 30px;
}
.background--grey {
  background-color: rgb(243, 243, 243);
  border-radius: 8px;
}
.border_bottom {
  border-bottom: 1px solid rgb(230, 230, 230);
}
/* --------------- GRID LAYOUT ------------------ */
.grid_firstCol--row1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.grid_firstCol--row2 {
  grid-column: 1/2;
  grid-row: 1/3;
}
.grid_firstCol--row12 {
  grid-column: 1/2;
  grid-row: 1/3;
}
.grid_secondCol--row1 {
  grid-column: 2/5;
  grid-row: 1/2;
}
.grid_secondCol--row2 {
  grid-column: 2/5;
  grid-row: 2/3;
}
.grid_thirdCol--row1 {
  grid-column: 5/7;
  grid-row: 1/2;
}
.grid_thirdCol--row2 {
  grid-column: 5/7;
  grid-row: 2/3;
}

/* --------------- ICON ------------------ */
.iconWrap_backgroud--grey {
  text-align: center;
  font-size: 0.9rem;
  background-color: #cdcdcd8a;
  border-radius: 18px;
  color: var(--grey-700);
}
.iconWrap_backgroud--green i {
  text-align: center;
  font-size: 0.9rem;
  background-color: green;
  border-radius: 18px;
  color: var(--grey-700);
}
.iconWrapS_background--green i {
  color: white;
  background-color: rgb(41, 184, 64);
  padding: 3px;
  font-size: 0.6rem;
}
/*  */
.iconWrap_color--green i {
  color: green;
  font-size: 0.8rem;
}
/* --------------- TEXT ------------------ */
.title {
  font-size: 0.9rem;
  color: var(--grey-900);
  text-align: start;
  margin-left: 5px;
}
.subTitle {
  font-size: 0.5rem;
  margin-left: 10px;
  text-align: start;
  color: var(--grey-400);
}
.subTitle_color--blackB {
  font-size: 0.5rem;
  margin-left: 10px;
  text-align: start;
  color: var(--grey-700);
  font-weight: 600;
}
.subTitle_color--black {
  font-size: 0.5rem;
  margin-left: 10px;
  text-align: start;
  color: var(--grey-700);
}
.info {
  font-size: 0.5rem;
  text-align: right;
  color: var(--grey-400);
}
.subInfo {
  font-size: 0.6rem;
  text-align: center;
  background-color: rgb(255, 118, 68);
  color: white;
  border-radius: 22px;
  width: 0.9rem;
}
.title:hover,
.info:hover,
.subTitle:hover,
.subInfo:hover {
  cursor: pointer;
}
