/*!**********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./components/IndexFunctionList/MakeCategory.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: "Cafe24Shiningstar";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Shiningstar.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.MakeCategory_layout__pLGl4 {
  width: 90%;
  margin: 80px auto 0 auto;
}

.MakeCategory_layout__pLGl4 > li {
  padding: 0 0 10px 0;
  display: inline-block;
  margin-left: 0.5rem;
  min-width: max-content;
  transition: 0.1s;
}

.MakeCategory_layout__pLGl4 a {
  /* font-size: 0.9rem; */
  padding: 0px 8px;
  max-height: 40px;
  font-family: "Cafe24Shiningstar";
  font-size: 1.5rem;
  font-weight: normal;
}
.MakeCategory_layout__pLGl4 a:hover {
  font-weight: 900;
}
.MakeCategory_fontWidth_bold__7Go5C {
  font-weight: bold;
  font-size: 1.2rem;
}

.MakeCategory_clicked__wFhqq {
  font-weight: 900;
  position: relative;
}

.MakeCategory_clicked__wFhqq::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 4px;
  background-color: red;
  transform: skewX(-30deg);
  animation: MakeCategory_border_lr_anim__LGALu 0.5s linear forwards;
}

@keyframes MakeCategory_border_lr_anim__LGALu {
  0% {
    width: 0%;
  }
  100% {
    width: 105%;
  }
}

@media (max-width: 800px) {
  .MakeCategory_layout__pLGl4 {
    width: 90%;
  }
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./components/IndexFunctionList/MakeListInCategory.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************/
.MakeListInCategory_MakeListInCategory__JDHdE {
  margin: 0 auto;
  padding: 20px 96px 64px 96px;
}

.MakeListInCategory_MakeListInCategory__JDHdE li {
  display: flex;
  text-align: left;
  justify-content: space-between;
  padding-top: 15px;
  border-bottom: 1px solid #b9b9b986;
}

.MakeListInCategory_MakeListInCategory__JDHdE li:hover,
.MakeListInCategory_MakeListInCategory__JDHdE p:hover {
  color: var(--grey-400);
}

@media (max-width: 600px) {
  .MakeListInCategory_MakeListInCategory__JDHdE {
    padding: 20px 20px 64px 20px;
  }
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./components/IndexFunctionList/FunctionList.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************/
/* ------------------LAYOUT------------------- */
.FunctionList_layout__JNV24 {
  text-align: center;
  padding: 3rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 30px auto;
}
.FunctionList_postIt_note__HhKAg {
  position: relative;
  margin-top: 60px;
  background: rgb(255, 255, 209);
  box-shadow: 0 8px 8px rgba(23, 23, 23, 0.077);
  overflow: hidden;
  box-shadow: inset 0 -40px 40px rgba(0, 0, 0, 0.05),
    inset 0 25px 10px rgba(0, 0, 0, 0.034);
  line-height: 1.5rem;
  transition: 0.5s;
  max-width: 800px;
}
.FunctionList_postIt_note__HhKAg:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.124);
}

.FunctionList_postIt_note__HhKAg:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgb(255, 255, 209);
  box-shadow: -3px -2px 10px rgba(0, 0, 0, 0.196),
    inset -15px -15px 15px rgba(0, 0, 0, 0.093);
  right: -15px;
  top: 0;
  z-index: 2;
  transform: skewX(25deg);
}

/* ------------------TEXT------------------- */
.FunctionList_title__k7FPh {
  color: var(--grey-900);
  margin-top: 20px;
  border-bottom: 1px solid #b9b9b986;
  word-break: keep-all;
}
.FunctionList_subTitle__20QT3 {
  height: 30px;
  border-bottom: 1px solid #b9b9b986;
  margin-top: 20px;
  color: var(--grey-400);
  word-break: keep-all;
}

/* ------------------NOTE------------------- */
.FunctionList_noteContent__2BP_B {
  margin: 0 0 0 30px;
}
.FunctionList_note__JufFK {
  background-color: #dadada08;
  box-shadow: 0 0px 18px rgba(23, 23, 23, 0.18);
  transition: 0.1s;
  background-color: rgba(242, 242, 242, 0.38);
  min-height: 800px;
  max-width: 800px;
  transition: 0.3s;
}
.FunctionList_noteHoles__vdCEY {
  width: 30px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.FunctionList_noteHoles__vdCEY > div {
  display: block;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  box-shadow: inset 2px 4px 3px rgba(166, 166, 166, 0.187),
    0 0px 3px rgba(0, 0, 0, 0.333);
}
.FunctionList_note__JufFK:hover {
  box-shadow: 0 0px 3px rgba(23, 23, 23, 0.187);
  transform: translateY(10px);
}
.FunctionList_note__JufFK:hover .FunctionList_noteHoles__vdCEY > div {
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.333);
}

@media (max-width: 800px) {
  .FunctionList_postIt_note_note__n1U6t {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .FunctionList_layout__JNV24 {
    padding: 4rem 2rem 2rem 2rem;
    display: block;
  }

  .FunctionList_title__k7FPh {
    font-size: 1.7rem;

    width: 90%;
    margin: 0 auto;
  }
  .FunctionList_subTitle__20QT3 {
    height: 60px;
    margin: 0 auto;
    width: 90%;
  }
  .FunctionList_noteHoles__vdCEY {
    display: none;
  }
  .FunctionList_noteContent__2BP_B {
    margin: 0 0 0 0px;
  }
}

/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./components/layout/Index.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
/* -------------------LAYOUTS------------------ */
.Index_layout__OpCSH {
  margin: 0rem auto 10rem auto;
  text-align: center;
  padding: 8rem 3rem;
}
@font-face {
  font-family: "Cafe24Shiningstar";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Shiningstar.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* -------------------BOX SHADOW------------------ */
.Index_boxShadow__c7v_T {
  background-color: #dadada08;
  box-shadow: 0 0px 3px rgba(23, 23, 23, 0.187);
  transition: 0.1s;
  border-radius: 0 0 0 30px/45px;
  background: #ffa;
}
.Index_boxShadow__c7v_T:hover {
  transform: translateY(-10px);
  box-shadow: 0 0px 18px rgba(23, 23, 23, 0.187);
}
/* -------------------POSTIT------------------ */
.Index_postIt__LhKqq {
  width: 20rem;
  height: 19rem;
  position: relative;
  background: #ffa;
  overflow: hidden;
  padding: 10px 10px 20px 10px;
  border-radius: 0 0 0 30px/45px;
  box-shadow: inset 0 -40px 40px rgba(0, 0, 0, 0.05),
    inset 0 25px 10px rgba(0, 0, 0, 0.034);
  line-height: 1.7em;
  font-size: 19px;
  transition: 0.4s;
}

.Index_postIt__LhKqq:before {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  background: rgb(255, 255, 174);
  box-shadow: 3px -2px 10px rgba(0, 0, 0, 0.196),
    inset 15px -15px 15px rgba(0, 0, 0, 0.093);
  left: 0;
  bottom: 0;
  z-index: 2;
  transform: skewX(25deg);
}

/* -------------------TEXT------------------ */
.Index_title__32BNJ {
  color: var(--grey-900);
  word-break: keep-all;
}

.Index_subTitle__xQJJY {
  color: var(--grey-400);
  margin-bottom: 1rem;
  word-break: keep-all;
}

/* -------------------LIST------------------ */
.Index_listWrap__m1doi {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 32px;
}
.Index_listWrap__m1doi li {
  text-align: left;
  width: 300px;
  height: 250px;
  padding: 48px 48px 64px 48px;
  margin-right: 30px;
}

.Index_listWrap__m1doi li h2 {
  font-family: "Cafe24Shiningstar";
  font-weight: normal;
  font-size: 1.5rem;
}

.Index_fontWeight_bold__APTaa {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 1.3rem;
}

@media (max-width: 900px) {
  .Index_listWrap__m1doi {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 2rem 2rem;
  }
  .Index_listWrap__m1doi li {
    margin-bottom: 30px;
    margin-right: 0px;
  }
}
@media (max-width: 500px) {
  .Index_layout__OpCSH {
    max-width: 100%;
    padding: 8rem 0rem;
    min-width: 300px;
  }
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./components/layout/Header.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.Header_header__RvT3c {
  background-color: #f3f3f384;
  border-radius: 12px;
  padding: 5px 0;
  box-shadow: 0px 0px 18px rgba(30, 30, 30, 0.116);
  margin-top: 10px;
}
.Header_header__RvT3c:hover {
  box-shadow: 0px 0px 6px rgba(41, 41, 41, 0.247);
}

.Header_nav1__DsP2L {
  margin-top: 10px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header_nav1__DsP2L a {
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
}

.Header_nav1__DsP2L img {
  width: 6rem;
  height: -moz-fit-content;
  height: fit-content;
}

.Header_nav1__DsP2L ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.Header_nav1__DsP2L li {
  margin-left: 20px;
}

.Header_nav1__DsP2L li a {
  color: var(--grey-400);
  text-decoration: none;
  font-weight: 400;
}

.Header_nav1__DsP2L li a:hover {
  color: var(--grey-800);
}

/* nav2 */
.Header_nav2__MhcwW {
  padding: 10px 30px;
}
.Header_nav2__MhcwW > ul {
  display: flex;
}
.Header_nav2__MhcwW ul {
  padding: 10px 20px;
  overflow-x: scroll;
  white-space: nowrap;
}
.Header_nav2__MhcwW ul::-webkit-scrollbar {
  display: none;
}
.Header_nav2__MhcwW > ul > li {
  padding: 4px 10px;
  border-radius: 16px;
}
.Header_nav2__MhcwW ul > li p:hover {
  cursor: pointer;
  transform: scale(1.1);
}
@media (max-width: 800px) {
  .Header_header__RvT3c nav img {
    width: 5.5rem;
  }
}
@media (max-width: 500px) {
  .Header_header__RvT3c {
    margin-bottom: 40px;
  }
  .Header_header__RvT3c nav a {
    font-size: 1rem;
  }
  .Header_header__RvT3c nav img {
    width: 5rem;
  }
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./components/layout/MyLayout.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.MyLayout_layout__P5Zf3 {
  margin: 0 auto;
  padding: 10px 20px;
  width: 100%;
  box-shadow: 0px 2px 12px 6px rgba(202, 202, 202, 0.3);
  border-radius: 12px;
}

.MyLayout_layout__P5Zf3 > button {
  position: fixed;
  z-index: 999;
  background-color: transparent;
  border-color: transparent;
  border-radius: 30px;
  cursor: pointer;
}

.MyLayout_layout__P5Zf3 > button > i {
  display: block;
  width: 35px;
  height: 35px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 100%;
}
.MyLayout_upBtn__5YEuL {
  left: 80%;
  top: 85vh;
}
.MyLayout_upBtn__5YEuL > i {
  background-color: rgb(53, 53, 53);
  color: white;
}
.MyLayout_bigBtn__DOzQq {
  left: 80%;
  top: 77vh;
}
.MyLayout_smallBtn__nk8md {
  left: 80%;
  top: 70vh;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./components/layout/Footer.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.Footer_layout__04Vw_ {
  padding: 10rem 1rem;
}

.Footer_layout__04Vw_ p {
  margin: 9rem auto 3rem auto;
  text-align: center;
}

