.categoryWrap {
  list-style: none;
  padding: 0 0 10px 0;
  display: flex;
  margin-left: 0.5rem;
  min-width: max-content;
  max-height: 40px;
  /*  */
  position: "block";
  transition: 0.1s;
}

.categoryWrap:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0px;
  transform: skewX(-30deg);
}
.categoryWrap--clicked {
  position: relative;
}
.categoryWrap--clicked:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 4px;
  margin-top: 25px;
  background-color: red;
  transform: skewX(-30deg);
  animation: border_lr_anim 0.5s linear forwards;
}

.paragraphContainer {
  font-size: 1.25rem;
  font-weight: 400;
}

.paragraphContainer:hover {
  font-weight: 900;
}
@keyframes border_lr_anim {
  0% {
    width: 0%;
  }
  100% {
    width: 110%;
  }
}
