.header {
  background-color: #f4f4f484;
  backdrop-filter: blur(10px);
  position: absolute;
  top: 10vh;
  width: 90%;
  left: 5%;

  /* margin: 10px auto; */
  /* width: 85%;
  left: 7%; */
  z-index: 999;
  border-radius: 12px;
}

.nav1 {
  margin-top: 10px;
  padding: 10px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav1 a {
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
}

.nav1 img {
  width: 6rem;
  height: fit-content;
}

.nav1 ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav1 li {
  margin-left: 20px;
}

.nav1 li a {
  color: var(--grey-400);
  text-decoration: none;
  font-weight: 400;
}

.nav1 li a:hover {
  color: var(--grey-800);
}

/* nav2 */
.nav2 {
  padding: 10px 30px;
  /* border-top: 1px solid rgb(255, 255, 255); */
  /* position: relative; */
}
/* .nav2::after {
  content: "";
  width: 90%;
  height: 1px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 10vh;
  z-index: 999;
} */
.nav2 > ul {
  display: flex;
}

.nav2 ul {
  padding: 10px 20px;
  overflow-x: scroll;
  white-space: nowrap;
}

.nav2 ul::-webkit-scrollbar {
  display: none;
}

.nav2 > ul > li {
  padding: 4px 10px;
  border-radius: 16px;
}

.nav2 ul > li p:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media (max-width: 800px) {
  .header nav img {
    width: 5.5rem;
  }
}
@media (max-width: 500px) {
  .header {
    top: 0;
  }
  .header nav a {
    font-size: 1rem;
  }
  .header nav img {
    width: 5rem;
  }
}
