.footer {
  padding: 10rem 1rem;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.footer p {
  margin: 9rem auto 3rem auto;
  text-align: center;
}
